<div class="chatroom-container">
  <div class="trade-chat">
    <img alt="Thumbnail" src= "<%= @chatroom.trade.seller_book.thumbnail %>" style="width: 128px; height: 192px;">
    <h6><%= @chatroom.trade.seller_book.title %></h6>
    <% if @chatroom.trade.seller.reputation.nil? %>
      <p><i class="fa-solid fa-star"></i> This user is new</p>
    <% else %>
      <p><i class="fa-solid fa-star"></i> <%= @chatroom.trade.seller.reputation %></p>
    <% end %>

    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/xhdhjyqy.json"
    trigger="hover"
    colors="primary:#C1BDBE"
    state="hover-1"
    style="width:30px; height:30px; margin-bottom: 12px;">
</lord-icon>

    <h6><%= @chatroom.trade.buyer_book.title %></h6>
        <% if @chatroom.trade.buyer.reputation.nil? %>
      <p><i class="fa-solid fa-star"></i> This user is new</p>
    <% else %>
      <h6><i class="fa-solid fa-star"></i> <%= @chatroom.trade.buyer.reputation %></h6>
    <% end %>
    <img alt="Thumbnail" src= "<%= @chatroom.trade.buyer_book.thumbnail %>" style="width: 128px; height: 192px;">
  </div>


  <div class="chatroom" data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <h1>#<%= @chatroom.name %></h1>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message],
      html: { class: "d-flex",  data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }} do |f| %>
      <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
<%# coment %>
