
<div class="container-card-home">
	<div class="card-home">
		<%= link_to "http://libricomutatio.herokuapp.com/books?query=Silmarillion&commit=Search%21" do %>
    <figure class="card-home__thumb">
			<img src="https://images-na.ssl-images-amazon.com/images/W/WEBP_402378-T2/images/I/51V+-LZOBaL._SX323_BO1,204,203,200_.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">J. R. R. TOLKIEN - The Silmarillion</h2>
				<p class="card-home__snippet"> Set primarily in the First Age of Middle-earth, The Silmarillion contains the legend of the creation of the world and an account of the Elder Days. It is the ancient drama remembered by Elrond and Galadriel in The Lord of the Rings, and the harrowing origin of the adventure that ends ages later with Frodo and the One Ring.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
    <% end %>
	</div>


	<div class="card-home">
		<%= link_to "http://libricomutatio.herokuapp.com/books?query=Lovecraft&commit=Search%21" do %>
    <figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/I/61v0o2sfu2L.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">H.P. LOVECRAFT - Tales of Horror</h2>
				<p class="card-home__snippet">The stories of H. P. Lovecraft have been a source of fascination for readers since they were published in the early twentieth century, and legions of fans continue to reinvent his dark and fantastical world to this day. This collection of short stories by the master of the macabre contains more than twenty of his most popular works, including "The Call of Cthulhu," "The Shadow Over Innsmouth," and "The Dunwich Horror."</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
    <% end %>
	</div>

	<div class="card-home">
		<%= link_to "http://libricomutatio.herokuapp.com/books?query=Plato&commit=Search%21" do %>
    <figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/P/B00OZ4NMHU.01._SCLZZZZZZZ_SX500_.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">PLATO - COMPLETE WORKS</h2>
				<p class="card-home__snippet">Outstanding translations by leading contemporary scholars--many commissioned especially for this volume--are presented here in the first single edition to include the entire surviving corpus of works attributed to Plato in antiquity.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
    <% end %>
	</div>

  <div class="card-home">
		<%= link_to "http://libricomutatio.herokuapp.com/books?query=Alighieri&commit=Search%21" do %>
    <figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/P/0451208633.01._SCLZZZZZZZ_SX500_.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">DANTE ALIGHIERI - THE DIVINE COMEDY</h2>
				<p class="card-home__snippet">Belonging in the immortal company of the great works of literature, Dante Alighieri’s poetic masterpiece, The Divine Comedy, is a moving human drama, an unforgettable visionary journey through the infinite torment of Hell, up the arduous slopes of Purgatory, and on to the glorious realm of Paradise—the sphere of universal harmony and eternal salvation.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
    <% end %>
	</div>

  <div class="card-home">
		<%= link_to "http://libricomutatio.herokuapp.com/books?query=Dickensi&commit=Search%21" do %>
    <figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/P/0141439564.01._SCLZZZZZZZ_SX500_.jpg" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">CHARLES DICKENS - GREAT EXPECTATIONS</h2>
				<p class="card-home__snippet">Charles Dickens's Great Expectations charts the course of orphan Pip Pirrip's life as it is transformed by a vast, mysterious inheritance. A terrifying encounter with the escaped convict Abel Magwitch in a graveyard on the wild Kent marshes; a summons to meet the bitter, decrepit Miss Havisham and her beautiful, cold-hearted ward Estella at Satis House; the sudden generosity of a mysterious benefactor - these form a series of events that change the orphaned Pip's life forever, and he eagerly abandons his humble station as an apprentice to blacksmith Joe Gargery, beginning a new life as a gentleman.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
    <% end %>
	</div>

  <div class="card-home">
		<%= link_to "http://libricomutatio.herokuapp.com/books?query=Machado+de+assis&commit=Search%21" do %>
    <figure class="card-home__thumb">
			<img src="https://m.media-amazon.com/images/P/0374523037.01._SCLZZZZZZZ_SX500_.jpg" alt="Picture by Daniel Lincoln" class="card-home__image">
			<figcaption class="card-home__caption">
				<h2 class="card-home__title">MACHADO DE ASSIS - DOM CASMURRO</h2>
				<p class="card-home__snippet">First published in 1900, Dom Casmurro, widely considered Machado de Assis's greatest novel and a classic of Brazilian literature, is a brilliant retelling of the classic adultery tale―a sad and darkly comic novel about love and the corrosive power of jealousy.</p>
				<a href="" class="card-home__button">Read more</a>
			</figcaption>
		</figure>
    <% end %>
	</div>
</div>
