<h1>Index do Book</h1>

<% if @books.empty? %>
  <div>
    <p>O livro que você procura não está no nosso banco de dados</p>
  </div>
<% else %>
  <div class="container d-flex flex-wrap">
  </div>
  <% @books.each do |book| %>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary"><%= book.title %></strong>
        <h6 class="mb-0">
          <a class="text-dark" href="#"><%= book.author %></a>
        </h6>
        <div class="mb-1 text-muted small"><%= book.user %></div>
          <p class="card-text mb-auto"><%= book.synopsis %></p>
          <%= link_to "Trade this book", book_path(book), class: "btn btn-outline-primary btn-sm" %>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src=<%= book.photo %> style="width: 200px; height: 250px;">
    </div>
  </div>
  <% end %>
<% end %>



 <%# <%= render partial: "shared/card", book: book %>
