<h1>Show da Book</h1>
<%= @book.title %>
<%= @book.author %>
<%= @book.description %>
<%= @book.user.id %>

<% if current_user == @book.user %>
  <%= link_to "Edit Book", edit_book_path(@book) %>
  <%= link_to "Browse books to trade", books_path %>
<% else %>
    <% if current_user.books.empty? %>
      <h3>You don't have books to trade</h3>
    <% else %>
      <%= simple_form_for [@book, @transaction] do |f| %>
      <%= f.association :buyer_book, collection: current_user.books, label_method: :title %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
<% end %>
