<div class="mt-5 col-12">
  <div class = "card-book-allinfo-show">
    <div class="image-associated-with-info">
      <h1><%= @book.title.truncate(55) %></h1>
      <div class="book-card-show">
        <div class="book-img-show">
          <img src="<%= @book.thumbnail %>" width="250" height="372" alt="">
        </div>
        <div class="book-info-show">
          <div class=book-main-info-show>
            <div>
              <h4><%= @book.author %></h4>
            </div>
            <div class="publisher-and-year">
              <div>
                <p><i class="fa-regular fa-calendar"></i> <%= @book.published_date %></p>
              </div>
            </div>
            <div>
              <p class="book-synopsis"><%= @book.synopsis %></p>
            </div>
          </div>
          <div class="book-description-show">
            <div class="book-sentence-show">
              <p><i class="fa-solid fa-star"></i> <%= @book.rating %></p>
              <p><i class="fa-solid fa-quote-left"></i> <i><%= @book.description %></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="perfil-show col-3">
    <div class="upper-half-perfil-show">
      <div>
        <i class="fa-regular fa-circle-user user-icon-show"></i>
        <%# <img class="avatar-large-show" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> %>
      </div>
      <div>
        <h5>
          <strong><%= @book.user.firstname %></strong>
        </h5>
        <div class="container-show-book">
          <% if @reputation == 0 %>
            <p>This user is new</p>
          <% else %>
            <p class="d-flex justify-content-center"><i class="fa-solid fa-star"></i> <%= @reputation %></p>
          <% end %>
        </div>
      </div>
      <% if current_user == @book.user %>
        <div class="user-decisions-book-exist">
          <%= link_to edit_book_path(@book), class: "icon-show" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%# Botão removido pois essa funcionalidade já existe na navbar%>
          <%# link_to "Browse books to trade", books_path, class: "btn-page-book" %>
          <%= link_to book_path(@book), :method => :delete, data: {:confirm => "You sure?" , :turbo_method => :delete, :turbo => true}, class: "icon-show" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      <% else %>
        <button type="button" class="btn-trade" data-bs-toggle="modal" data-bs-target="#tradeModal"><i class="fa-solid fa-arrow-right-arrow-left"></i> Trade</button>
      <% end %>
    </div>
    <%# <button type="button" class="btn-page-book"><i class="fa-solid fa-book"></i> Book Stash</button> %>
    <%= link_to book_stash_path(@book), class: "btn-page-book" do %>
      <i class="fa-solid fa-book"></i> Book Stash
    <% end %>
    <div class="verified-and-icons-show">
      <hr>
      <div class="verified-show">
        <div>
          <p>Verified with: </p>
        </div>
        <div><i class="fa-brands fa-whatsapp"></i></div>
        <div><i class="fa-regular fa-envelope"></i></div>
      </div>
    </div>
  </div>
</div>
<%= render "trades/modal", book: @book, transaction: @transaction %>
<div class="mapa-show p-0 mb-5 col-12" style="width: 100%; height: 600px; border-radius: 0.5rem; box-shadow: 0 0 15px rgba(0,0,0,0.2);"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
