<div class="mt-5 col-12">
  <div class = "card-book-allinfo-show col-9">
    <div class="image-associated-with-info">
      <h1><%= @book.title %></h1>
      <div class="book-card-show">
        <div class="book-img-show">
          <img src="<%= @book.thumbnail %>" width="250" height="372" alt="">
        </div>
        <div class="book-info-show">
          <div class=book-main-info-show>
            <div>
              <h4><%= @book.author %></h4>
            </div>
            <div class="book-synopsis"><%= @book.synopsis %></div>
            <div class="publisher-and-year">
              <div>
                <p><%= @book.publisher %></p>
              </div>
              <div>
                <p><%= @book.published_date %></p>
              </div>
            </div>
          </div>
          <div class="book-description-show">
            <div class="book-sentence-show"><i class="fa-solid fa-quote-left"></i>
              <p><%= @book.description %></p>
            </div>
            <div><%= @book.user.firstname %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="perfil-show col-3">
    <div>
      <img class="avatar-large-show" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    </div>
    <div>
      <h5>
        <%= @book.user.firstname %>
      </h5>
      <div class="container-show-book">
        <% if @reputation == 0 %>
          <p>This user is new</p>
        <% else %>
          <%= @reputation %>
        <% end %>
      </div>
    </div>
    <button type="button" class="btn-book-chat"><i class="fa-regular fa-comment"></i> Chat</button>
    <div class="verified-and-icons-show">
      <hr>
      <div class="verified-show">
        <div>
          <p>Verified with: </p>
        </div>
        <div><i class="fa-brands fa-whatsapp"></i></div>
        <div><i class="fa-regular fa-envelope"></i></div>
      </div>
      <button type="button" class="btn-book-stash-show"><i class="fa-solid fa-book"></i> Book Stash</button>
    </div>
  </div>
</div>
<div>
  <% if current_user == @book.user %>
    <%= link_to "Edit Book", edit_book_path(@book), class: "btn btn-outline-primary btn-sm" %>
    <%= link_to "Browse books to trade", books_path, class: "btn btn-outline-primary btn-sm" %>
    <%= link_to "Delete", book_path(@book), :method => :delete, data: {:confirm => "You sure?" , :turbo_method => :delete, :turbo => true}, class: "btn btn-outline-primary btn-sm" %>
  <% else %>
    <% if current_user.books.empty? %>
      <h3>You have no books to trade</h3>
    <% else %>
      <%= simple_form_for [@book, @transaction] do |f| %>
        <%= f.association :buyer_book, collection: current_user.books.available, label_method: :title %>
        <%= f.button :submit %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
