<h1 class="text-center">My Trades</h1>

<% if @transactions.empty? %>
  <div class="trade-grid">
    <div class="trade">
      <h3>You don't have an ongoing transaction</h3>
      <%= link_to "Browse books to trade", books_path %>
    </div>
  </div>
<% else %>
  <div class="trade-grid">
    <% @transactions.each do |transaction| %>
    <div class="trade">
      <div class="trade-img">
        <img alt="Thumbnail" src= "<%= transaction.seller_book.thumbnail %>" style="width: 128px; height: 192px;">

        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/kzwbetjp.json"
          trigger="hover"
          colors="primary:#C1BDBE"
          state="hover"
          style="width:80px; height:50px;">
        </lord-icon>

        <img alt="Thumbnail" src= "<%= transaction.buyer_book.thumbnail %>" style="width: 128px; height: 192px;">
      </div>

      <div class="trade-info">

        <% if current_user == transaction.buyer %>
          <%= button_to chatroom_path(transaction.chatroom) do %>
            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
            <lord-icon
              src="https://cdn.lordicon.com/uvextprq.json"
              trigger="hover"
              style="width:30px; height:30px;"
              colors="primary:#C1BDBE">
            </lord-icon>
          <% end %>

          <%= button_to trade_path(transaction), :method => :delete, data: {:confirm => "You sure?" , :turbo_method => :delete, :turbo => true} do %>
            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
            <lord-icon
              src="https://cdn.lordicon.com/dovoajyj.json"
              colors="primary:#C1BDBE"
              trigger="hover"
              style="width:30px; height:30px;">
            </lord-icon>
          <% end %>

        <% else %>
          <%= button_to chatroom_path(transaction.chatroom) do %>
            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
            <lord-icon
              src="https://cdn.lordicon.com/uvextprq.json"
              trigger="hover"
              style="width:30px; height:30px;"
              colors="primary:#C1BDBE">
            </lord-icon>
          <% end %>

          <%= button_to trade_path(transaction), :method => :patch, data: {:confirm => "You sure?" , :turbo_method => :patch, :turbo => true} do %>
            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
            <lord-icon
              src="https://cdn.lordicon.com/hjeefwhm.json"
              trigger="hover"
              style="width:30px; height:30px;"
              colors="primary:#C1BDBE">
            </lord-icon>
          <% end %>

          <%= button_to trade_path(transaction), :method => :delete, data: {:confirm => "You sure?" , :turbo_method => :delete, :turbo => true} do %>
            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
            <lord-icon
              src="https://cdn.lordicon.com/vfzqittk.json"
              trigger="hover"
              style="width:30px; height:30px;"
              colors="primary:#C1BDBE">
            </lord-icon>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<h1 class="text-center">Past Transactions</h1>
<div class="trade-grid">
  <% @history_transactions.each do |transaction| %>
    <div class="trade">
      <div class="trade-img">
        <img alt="Thumbnail" src= "<%= transaction.seller_book.thumbnail %>" style="width: 128px; height: 192px;">

        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/kzwbetjp.json"
          trigger="hover"
          colors="primary:#C1BDBE"
          state="hover"
          style="width:80px; height:50px;">
        </lord-icon>

        <img alt="Thumbnail" src= "<%= transaction.buyer_book.thumbnail %>" style="width: 128px; height: 192px;">
      </div>

      <div class="trade-info">
        <div class="star-rating">
        <% if transaction.reviews.empty?  %>
          <%= simple_form_for [transaction, @review], data: { controller: "form-submit" } do |f| %>
              <% 5.times do |i| %>
                <input data-action="click->form-submit#submit" type="radio" name="review[score]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
              <% end %>
              <%= f.button :submit, class: "d-none" %>
          <% end %>
        <% elsif transaction.reviews.last.receiver != current_user %>
          <%= simple_form_for [transaction, @review], data: { controller: "form-submit" } do |f| %>
              <% 5.times do |i| %>
                <input data-action="click->form-submit#submit" type="radio" name="review[score]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
              <% end %>
              <%= f.button :submit, class: "d-none" %>
            <% end %>
        <% else %>
          <% transaction.reviews.last.score.times do %>
            <input type="radio" name="review[score]" value="<%= 1 %>" />
          <% end %>
        <% end %>

        </div>
      </div>
    </div>
  <% end %>
</div>
