<h1>Index de Transactions</h1>

<% if @transactions.empty? %>
  <div>
    <p>You still don't have a transaction</p>
    <%= link_to "Browse books to trade", books_path %>
  </div>
<% else %>
  <div>
  <% @transactions.each do |transaction| %>
    <h3><%= transaction.buyer_book.title %>/<%= transaction.seller_book.title %></h3>
    <% if current_user = transaction.buyer %>
      <%= link_to "Chatroom", chatroom_path(transaction.chatroom) %>
      <%= link_to "Delete trade", trade_path(transaction), :method => :delete, data: {:confirm => "You sure?" , :turbo_method => :delete, :turbo => true} %>
    <% else %>
      <%= button_to "Accept Trade", trade_path(transaction), method: :patch %>
      <%= link_to "Chatroom", chatroom_path(transaction.chatroom) %>
    <% end %>
  <% end %>
  </div>
<% end %>
